@font-face {
  font-family: "iconfont"; /* Project id 2895718 */
  src: url('//at.alicdn.com/t/font_2895718_a5nwsvdumwa.woff2?t=1635422168510') format('woff2'),
       url('//at.alicdn.com/t/font_2895718_a5nwsvdumwa.woff?t=1635422168510') format('woff'),
       url('//at.alicdn.com/t/font_2895718_a5nwsvdumwa.ttf?t=1635422168510') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuji:before {
  content: "\e61c";
}

.icon-tuichu1:before {
  content: "\e643";
}
